<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Webpro</display-name>
  <welcome-file-list>
    <welcome-file>admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>front.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllStudents</display-name>
    <servlet-name>AllStudents</servlet-name>
    <servlet-class>front.AllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllStudents</servlet-name>
    <url-pattern>/allstudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>front.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>front.EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/editstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>front.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/addteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllTeachers</display-name>
    <servlet-name>AllTeachers</servlet-name>
    <servlet-class>front.AllTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTeachers</servlet-name>
    <url-pattern>/allteachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacher</display-name>
    <servlet-name>DeleteTeacher</servlet-name>
    <servlet-class>front.DeleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacher</servlet-name>
    <url-pattern>/deleteteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTeacher</display-name>
    <servlet-name>EditTeacher</servlet-name>
    <servlet-class>front.EditTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeacher</servlet-name>
    <url-pattern>/editteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSemester</display-name>
    <servlet-name>AddSemester</servlet-name>
    <servlet-class>front.AddSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSemester</servlet-name>
    <url-pattern>/addsemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllSemesters</display-name>
    <servlet-name>AllSemesters</servlet-name>
    <servlet-class>front.AllSemesters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllSemesters</servlet-name>
    <url-pattern>/allsemesters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSemester</display-name>
    <servlet-name>DeleteSemester</servlet-name>
    <servlet-class>front.DeleteSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSemester</servlet-name>
    <url-pattern>/deletesemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSemester</display-name>
    <servlet-name>EditSemester</servlet-name>
    <servlet-class>front.EditSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSemester</servlet-name>
    <url-pattern>/editsemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>front.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/addcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>front.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/deletecourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCourse</display-name>
    <servlet-name>EditCourse</servlet-name>
    <servlet-class>front.EditCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourse</servlet-name>
    <url-pattern>/editcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCourses</display-name>
    <servlet-name>AllCourses</servlet-name>
    <servlet-class>front.AllCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCourses</servlet-name>
    <url-pattern>/allcourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAcademicUnit</display-name>
    <servlet-name>AddAcademicUnit</servlet-name>
    <servlet-class>front.AddAcademicUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAcademicUnit</servlet-name>
    <url-pattern>/addacademicunit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllAcademicUnit</display-name>
    <servlet-name>AllAcademicUnit</servlet-name>
    <servlet-class>front.AllAcademicUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllAcademicUnit</servlet-name>
    <url-pattern>/allacademicunit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAcademicUnit</display-name>
    <servlet-name>EditAcademicUnit</servlet-name>
    <servlet-class>front.EditAcademicUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAcademicUnit</servlet-name>
    <url-pattern>/editacademicunit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAcademicUnit</display-name>
    <servlet-name>DeleteAcademicUnit</servlet-name>
    <servlet-class>front.DeleteAcademicUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAcademicUnit</servlet-name>
    <url-pattern>/deleteacademicunit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>front.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/registerstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignCourse</display-name>
    <servlet-name>AssignCourse</servlet-name>
    <servlet-class>front.AssignCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignCourse</servlet-name>
    <url-pattern>/assigncourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TakeCourse</display-name>
    <servlet-name>TakeCourse</servlet-name>
    <servlet-class>front.TakeCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeCourse</servlet-name>
    <url-pattern>/takecourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRegistrations</display-name>
    <servlet-name>AllRegistrations</servlet-name>
    <servlet-class>front.AllRegistrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRegistrations</servlet-name>
    <url-pattern>/allregistrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataFilterServlet</display-name>
    <servlet-name>DataFilterServlet</servlet-name>
    <servlet-class>front.DataFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataFilterServlet</servlet-name>
    <url-pattern>/DataFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignedCourses</display-name>
    <servlet-name>AssignedCourses</servlet-name>
    <servlet-class>front.AssignedCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignedCourses</servlet-name>
    <url-pattern>/assignedcourses</url-pattern>
  </servlet-mapping>
</web-app>